.js-c-wp_web3-signIn {
    width: 100%;
    background-color: #1c1ce1 !important;
    color: #fff !important;
    border-color: #1c1ce1 !important;
    box-shadow: none !important;
    transition: .3s !important;
    background-image: url('../images/web3.svg') !important;
    background-size: 54px !important;
    background-repeat: no-repeat !important;
    background-position: 14px !important;
    padding-left: calc(36px + 14px) !important;
    padding-right: calc(36px - 14px) !important;
}
.js-c-wp_web3-signIn:hover,
.js-c-wp_web3-signIn:focus,
.js-c-wp_web3-signIn:active {
    box-shadow: none !important;
    border-color: rgba(28, 28, 225, 0.8) !important;
    background-color: rgba(28, 28, 225, 0.8) !important;
}